<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Ingreso</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('css/registro.css') }}" rel="stylesheet">
  </head>

  <body>
    <div class="main container">
      <div class="row well">
        <div class="col-md-6">
          <div class="page-header">
            <h2 class='form-register-heading'>Crear nueva cuenta</h2>
          </div>
          {{ form_start(form, { 'attr' : {'role' : 'form' } }) }}

          <div class="form-group">
            {{ form_label(form.username) }}
            {{ form_widget(form.username, { 'attr' : { 'class': 'form-control', 'autocomplete': 'off', 'placeholder': 'Nombre de usuario'}} ) }}
            <span class="text_danger">{{ form_errors(form.username) }}</span>
          </div>

          <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, { 'attr' : { 'class': 'form-control', 'autocomplete': 'off', 'placeholder': 'example@dominio.com' }} ) }}
            <span class="text_danger">{{ form_errors(form.email) }}</span>
          </div>

          <div class="form-group">
            {{ form_label(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first, { 'attr' : { 'class': 'form-control', 'autocomplete': 'off', 'placeholder': 'Escriba la contraseña' }} ) }}
            <span class="text_danger">{{ form_errors(form.plainPassword.first) }}</span>
          </div>

          <div class="form-group">
            {{ form_label(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second, { 'attr' : { 'class': 'form-control', 'autocomplete': 'off', 'placeholder': 'Escriba de nuevo la contraseña' }} ) }}
            <span class="text_danger">{{ form_errors(form.plainPassword.second) }}</span>
          </div>

          <p>
            {{ form_widget(form.guardar, { 'label': 'Crear usuario', 'attr' : { 'class': 'btn btn-sm btn-primary btn-block'}} ) }}
          </p>

          <p>
            {{ form_widget(form.borrar, { 'label': 'Limpiar', 'attr' : { 'class': 'btn btn-sm btn-primary btn-block'}} ) }}
          </p>



          {{ form_end(form) }}
        </div>
      </div>
    </div>
  </body>
</html>
