{% extends 'admin/layout_admin.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<!-- Custom styles for this template -->
	<link href="{{ asset('css/admin-area.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
	{{ parent() }}
	<div class="container">
		<br>
		<div class="page-header">
			<h1 align="center">Sistema de adminitracion</h1>
		</div>
		<div class="d-flex justify-content-around boton-admin">
			<a class="btn btn-lg btn-primary" href="{{ path('gestion_usuarios') }}">Usuarios</a>
			<a class="btn btn-lg btn-primary" href="{{ path('gestion_torneos') }}">Torneos</a>
			<a class="btn btn-lg btn-primary disabled" href="#">Galeria</a>
			<a class="btn btn-lg btn-primary disabled" href="#">Carnets</a>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
		{{ parent() }}

{% endblock %}
