{% extends 'admin/layout_admin.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<!-- Custom styles for this template -->
	<link href="{{ asset('css/dashboard.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
	{{ parent() }}
  <div class="container">
    <div class="col-md-12">
      <div class="page-header">
        <h2  align="center"> Lista de Usuarios</h2>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr class="table-dark">
							<th>ID</th>
              <th>usuario</th>
              <th>Correo electronico</th>
              <th>Empresa</th>
              <th>Tipo</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
              <tr data-id="{{ user.id }}">
								<td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.empresa }}</td>
                <td>
                  {% if user.role == 'ROLE_ADMIN' %}
                    <strong>Administrador</strong>
                  {% elseif user.role == 'ROLE_USER' %}
                    <strong>Usuario</strong>
                  {% endif %}
                </td>
                <td>
                  <a href="#" class="btn btn-sm btn-primary">Cambiar tipo</a>
									<a href="#" class="btn btn-sm btn-secondary">Bloquear</a>
                  <a href="#" class="btn btn-sm btn-danger btn-delete">Eliminar</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

	{{ include('admin/delete-user.html.twig', { form: delete_form_ajax, message: '¿Esta seguro que desea eliminar este usuario?', id: 'form-delete'}) }}

{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script src="{{ asset('js/delete-user.js') }}"></script>

{% endblock %}
