{% extends 'usuario/layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<!-- Custom styles for this template -->
	<link href="{{ asset('css/home.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
	{{ parent() }}

	{#----------------------------MENU PARA FILTRO------------------------------#}
	<div class="side-menu">
		<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
			<a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Principal</a>
			<a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Futbol</a>
			<a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Futsal</a>
			<a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Baloncesto</a>
			<a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Voleibol</a>
			<a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Voleibol playa</a>
			<a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Tenis de campo</a>
			<a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Tenis de mesa</a>
			<a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Natacion</a>
			<a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Bolos</a>
		</div>
	</div>

	{#---------------------------CONTENIDO DE LA PAGINA-------------------------#}
	<div class="contenedor container">
		<div class="row justify-content-md-center non-fixed">
			<div class="zona-posts col-md-9">
				<h2 align="center" class="h2-portada">Torneos Vigentes</h2>
				<p></p>

				{% for torneo in torneos | reverse %}
					<div class="post">
						<p></p>
						<a target="_blank" class="h5 torneo-header" href="{{ torneo.urlTorneo }}"
							tittle="Ir a torneo">
							<h5>{{ torneo.nombre }}</h5>
						</a>
						<div class="post-info">
							<p>Publicado el: <span class="post-date">{{ torneo.fechaPublicacion | date('d/m/Y') }}</span></p>
						</div>
						<div class="row">
							<div class="col-md-4 cartel ">
								<a target="_blank" href="{{ torneo.urlTorneo }}" title="">
									<img class="post-thumbnail" src="{{ torneo.cartel }}" alt="">
								</a>
							</div>
							<div class="col-md-8 mas-info">
								<blockquote class="descripcion">
									<h6>Descripcion</h6>
									<p class="mb-0">{{ torneo.descripcion }}</p>
								</blockquote>
								<div class="tournament-date">
									<p class="mb-0"><b>Fecha de inicio: </b><span class="date">{{ torneo.fechaInicio | date('d/m/Y') }}</span></p>
									<p class="mb-0"><b>Fecha de finalización: </b><span class="date">{{ torneo.fechaFin | date('d/m/Y') }}</span></p>
								</div>
							</div>
						</div>
						<div class="row botones">
							<div class="col-sm-9 enlaces">
								<a class="btn-sm btn-primary" target="_blank" href="{{ torneo.urlTorneo }}">
									Ver torneo
								</a>
								<a class="btn-sm btn-primary " target="_blank" href="{{ torneo.urlInscripcion }}">
									Inscripcion
								</a>
								<a class="btn-sm btn-primary" target="_blank" href="{{ torneo.urlEstadisticas }}">
									Estadisticas
								</a>
								<a class="btn-sm btn-primary" target="_blank" href="{{ torneo.urlProgramacion }}">
									Programacion
								</a>
							</div>
							<div class="col-sm-3 carnet">
								<a class="btn btn-primary" target="_blank" href="{{ path('carnet') }}">
									Carnet
								</a>
							</div>
						</div>
					</div>
				{% endfor %}

			</div>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
		{{ parent() }}
{% endblock %}
