{% extends 'usuario/layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<!-- Custom styles for this template -->
	<link href="{{ asset('css/home.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
	{{ parent() }}

  <div class="container-fluid content-main">
		{#----------------------------MENU PARA FILTRO------------------------------#}
		<div class="side-menu">
			<nav class="nav flex-column">
        <a class="btn nav-link boton" href="{{ path('homepage') }}">Principal</a></li>
        <a id="futbol"         class="btn nav-link boton" href="{{ path('torneo_section', {'section' : 'futbol' }) }}">Futbol</a>
        <a id="futsal"         class="btn nav-link boton" href="{{ path('torneo_section', {'section' : 'futsal' }) }}">Futsal</a>
        <a id="baloncesto"     class="btn nav-link boton" href="{{ path('torneo_section', {'section' : 'baloncesto' }) }}">Baloncesto</a>
        <a id="voleibol"       class="btn nav-link boton" href="{{ path('torneo_section', {'section' : 'voleibol' }) }}">Voleibol</a>
        <a id="voleibolplaya" class="btn nav-link boton" href="{{ path('torneo_section', {'section' : 'voleibolplaya' }) }}">Voleibol playa</a>
        <a id="teniscampo" class="btn nav-link boton" href="{{ path('torneo_section', {'section' : 'teniscampo' }) }}">Tenis de campo</a>
        <a id="tenismesa"  class="btn nav-link boton" href="{{ path('torneo_section', {'section' : 'tenismesa' }) }}">Tenis de mesa</a>
        <a id="natacion"       class="btn nav-link boton" href="{{ path('torneo_section', {'section' : 'natacion' }) }}">Natacion</a>
        <a id="bolos"          class="btn nav-link boton" href="{{ path('torneo_section', {'section' : 'bolos' }) }}">Bolos</a>
        <a id="sapo"           class="btn nav-link boton" href="{{ path('torneo_section', {'section' : 'sapo' }) }}">Sapo</a>
			</nav>
		</div>

    {#---------------------------CONTENIDO DE LA PAGINA-------------------------#}
		<div class="contenedor container-fluid">
			<div class="row justify-content-md-center">
				<div class="zona-posts col-md-10">
					<h2 align="center" class="h2-portada">Torneos Vigentes</h2>
					<p></p>

					{% for torneo in torneos_section | reverse %}
						<div class="post">
							<p></p>
							<a target="_blank" class="h5 torneo-header" href="{{ torneo.urlTorneo }}"
								tittle="Ir a torneo">
								<h5>{{ torneo.nombre }}</h5>
							</a>
							<div class="post-info">
								<p>Publicado el: <span class="post-date">{{ torneo.fechaPublicacion | date('d/m/Y') }}</span></p>
							</div>
							<div class="row">
								<div class="col-md-4 cartel ">
									<a target="_blank" href="{{ torneo.urlTorneo }}" title="">
										<img class="post-thumbnail" src="{{ torneo.cartel }}" alt="">
									</a>
								</div>
								<div class="col-md-8 mas-info">
									<blockquote class="descripcion">
										<h6>Descripcion</h6>
										<p class="mb-0">{{ torneo.descripcion }}</p>
									</blockquote>
									<div class="tournament-date">
										<p class="mb-0"><b>Fecha de inicio: </b><span class="date">{{ torneo.fechaInicio | date('d/m/Y') }}</span></p>
										<p class="mb-0"><b>Fecha de finalización: </b><span class="date">{{ torneo.fechaFin | date('d/m/Y') }}</span></p>
									</div>
								</div>
							</div>
							<div class="row botones">
								<div class="col-sm-9 enlaces">
									<a class="btn-sm btn-primary" target="_blank" href="{{ torneo.urlTorneo }}">
										Ver torneo
									</a>
									<a class="btn-sm btn-primary " target="_blank" href="{{ torneo.urlInscripcion }}">
										Inscripcion
									</a>
									<a class="btn-sm btn-primary" target="_blank" href="{{ torneo.urlEstadisticas }}">
										Estadisticas
									</a>
									<a class="btn-sm btn-primary" target="_blank" href="{{ torneo.urlProgramacion }}">
										Programacion
									</a>
								</div>
								<div class="col-sm-3 carnet">
									<a class="btn btn-primary" target="_blank" href="{{ path('carnet') }}">
										Carnet
									</a>
								</div>
							</div>
						</div>
					{% endfor %}

				</div>
			</div>
		</div>
  </div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}
