{% extends 'externo/layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
          <!-- Custom styles for this template -->
          <link href="{{ asset('css/registro.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
  {{ parent() }}

    <div class="container">
      <div class="form-group" method="post">

        <h2 class='form-register-heading'>Crear nueva cuenta</h2>
        {{ form_start(form, { 'attr' : {'role' : 'form' } }) }}

            {{ form_label(form.username) }}
            {{ form_widget(form.username, { 'attr' : { 'class': 'form-control', 'autocomplete': 'off', 'placeholder': 'Nombre de usuario', 'autofocus': 'true'}} ) }}
            <span class="text_danger">{{ form_errors(form.username) }}</span>



            {{ form_label(form.email) }}
            {{ form_widget(form.email, { 'attr' : { 'class': 'form-control', 'autocomplete': 'off', 'placeholder': 'example@dominio.com' }} ) }}
            <span class="text_danger">{{ form_errors(form.email) }}</span>



            {{ form_label(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first, { 'attr' : { 'class': 'form-control', 'autocomplete': 'off', 'placeholder': 'Escriba la contraseña' }} ) }}
            <span class="text_danger">{{ form_errors(form.plainPassword.first) }}</span>



            {{ form_label(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second, { 'attr' : { 'class': 'form-control', 'autocomplete': 'off', 'placeholder': 'Escriba de nuevo la contraseña' }} ) }}
            <span class="text_danger">{{ form_errors(form.plainPassword.second) }}</span>


            <div class="form-boton">
              {{ form_widget(form.guardar, { 'label': 'Crear usuario', 'attr' : { 'class': 'btn btn-md btn-primary btn-block'}} ) }}
              {{ form_widget(form.borrar, { 'label': 'Limpiar', 'attr' : { 'class': 'btn btn-md btn-secondary btn-block'}} ) }}
            </div>

       {{ form_end(form) }}
     </div>
   </div>

{% endblock %}
