{% extends 'interno/layout_in.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<!-- Custom styles for this template -->
	<link href="{{ asset('css/home.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
	{{ parent() }}
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h2 class="h2-portada">Torneos actuales</h2>
				<p></p>
				<div class="post post-1">
					<div class="estado">
						<span class="badge badge-primary">COMENZADO</span>
					</div>
					<a target="_blank" class="h5 torneo-header" href="https://app.doleague.com/es/championship/NUcf6qEAtUqVd2uWwhNr"
						tittle="Ir a LIGA FUTSAL PRUEBA">
						<h5>LIGA FUTSAL PRUEBA</h5>
					</a>
					<div class="post-info">
						<p>Publicado el: <span class="date">19 Octubre, 2017</span></p>
					</div>
					<a target="_blank" href="https://app.doleague.com/es/championship/NUcf6qEAtUqVd2uWwhNr" title="LIGA FUTSAL PRUEBA">
						<img class="post-thumbnail" src="{{ asset('images/cartel-futsal.jpg') }}" alt="LIGA FUTSAL PRUEBA">
					</a>
					<p></p>
					<blockquote class="blockquote">
  					<p class="mb-0">Campeonato de prueba para demostrar mediante la guía de proceso la creación y gestión de campeonatos</p>
						<div class="post-date">
							<p class="mb-0"><b>Fecha de inicio: </b><span class="date">09/09/2017</span></p>
							<p class="mb-0"><b>Fecha de finalización: </b><span class="date">05/11/2017</span></p>
						</div>
					</blockquote>
					<div class="enlace">
						<a target="_blank" href="https://app.doleague.com/es/championship/NUcf6qEAtUqVd2uWwhNr" tittle="Ir a LIGA FUTSAL PRUEBA">
							Ver torneo
						</a>
						<p></p>
					</div>
				</div>
				<div class="post post-1">
					<div class="estado">
						<span class="badge badge-primary">COMENZADO</span>
					</div>
					<a target="_blank" class="h5 torneo-header" href="https://app.doleague.com/es/championship/NUcf6qEAtUqVd2uWwhNr"
						tittle="Ir a LIGA FUTSAL PRUEBA">
						<h5>LIGA FUTSAL PRUEBA</h5>
					</a>
					<div class="post-info">
						<p>Publicado el: <span class="date">19 Octubre, 2017</span></p>
					</div>
					<a target="_blank" href="https://app.doleague.com/es/championship/NUcf6qEAtUqVd2uWwhNr" title="LIGA FUTSAL PRUEBA">
						<img class="post-thumbnail" src="{{ asset('images/cartel-futsal.jpg') }}" alt="LIGA FUTSAL PRUEBA">
					</a>
					<p></p>
					<blockquote class="blockquote">
  					<p class="mb-0">Campeonato de prueba para demostrar mediante la guía de proceso la creación y gestión de campeonatos</p>
						<div class="post-date">
							<p class="mb-0"><b>Fecha de inicio: </b><span class="date">09/09/2017</span></p>
							<p class="mb-0"><b>Fecha de finalización: </b><span class="date">05/11/2017</span></p>
						</div>
					</blockquote>
					<div class="enlace">
						<a target="_blank" href="https://app.doleague.com/es/championship/NUcf6qEAtUqVd2uWwhNr" tittle="Ir a LIGA FUTSAL PRUEBA">
							Ver torneo
						</a>
						<p></p>
					</div>
				</div>
			</div>
			<div class="col-sm-3 offset-sm-1 blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
          <h4>Carnet</h4>
          <p>Espacio para generar carnet y subir foto</p>
        </div>
        <div class="sidebar-module">
          <h4>Torneos por fechas</h4>
          <ol class="list-unstyled">
            <li><a href="#">Agosto 2017</a></li>
            <li><a href="#">Septiembre 2017</a></li>
            <li><a href="#">Octubre 2017</a></li>
            <li><a href="#">Noviembre 2017</a></li>
            <li><a href="#">Diciembre 2017</a></li>
          </ol>
        </div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
		{{ parent() }}
{% endblock %}
